PORT=8000
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB_NAME=sc1muyi0939_LeaBeaute_App
MYSQL_USER=sc1muyi0939_AdminEH
MYSQL_PASSWORD=change-me
CORS_ORIGINS=https://leabeautevalognes.fr,https://api.leabeautevalognes.fr
